:root {
  background-color: #f8f8f8;
}

main {
  padding-top: 0em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #ffffff;
  --background-color: #ffffff;
  --header-color: #ffffff;
}

div.legalnotice {
  margin: 0.5em;
  padding: 0.5em;
}
div.legalnotice header {
  margin-top: 1em;
}

div.revhistory div.title, div.revhistory ul {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #808080;
}
div.revhistory p {
  margin-top: 8px;
  margin-bottom: 8px;
}

ul.toc {
  padding-left: 1em;
}
ul.toc li {
  padding-left: 1em;
}

div.varlistentry dt {
  font-weight: bold;
}
div.varlistentry dd p {
  margin-top: 0;
}

td p {
  margin-top: 4px;
  margin-bottom: 4px;
}

div.figure {
  border-color: #c8c8c8;
}

div.qanda div.question {
  font-weight: bold;
}
